#preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* ou outra cor */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 1s ease;
}

